body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-logo, .header-links {
  flex: 1;
  min-width: 200px; 
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-image-with-text {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 20px;
  background-color: #F4E4D6;
  padding: 20px
}

.section-image-with-text .text-portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
}

.section-image-with-text .image-portion {
  flex: 1 1 0;
}

.section-image-with-text .image-portion img {
  width: 100%;
}

.section-collection {
  margin: 0 20px;
  text-align: center;
}

.section-collection .product-collection {
  display: flex;
  justify-content: space-evenly;
}

.section-collection .product-collection .collection-item{
  flex: 1 1 0;
}

.product-collection {
  text-align: center;
}

.section-text {
  padding: 40px 100px;
  background-color: #F4E4D6;
}

.section-text .quote {
  font-size: 34px;
  font-style: italic;
}

.section-text .author-name {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

.section-signup {
  margin: 60px 40px;
  padding: 20px 40px;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  background-color: brown;
  border-radius: 10px;
  color: #fff;
}

.section-signup a {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #F4E4D6;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .section-image-with-text{
    flex-direction: column;
    gap: 10px;
  }

  .section-collection .product-collection {
    flex-direction: column;
  }

  .section-text {
    padding: 20px 50px;
  }
  .section-text .quote {
    font-size: 24px;
  }

  .section-text .author-name {
    font-size: 14px;
  }

  .section-signup {
    flex-direction: column;
  }
}
